<div class="ekart--product--container">
    <!-- <img [src]="product.pImage">
    <p>Name: {{product.name}}</p>
    <p>Price: {{'$' + product.price}}</p>
    <p>Color: {{product.color}}</p>
    <p>Discount Price:{{getDiscountPrice().toFixed(2)}}</p>
    <p>{{product.inStock>0 ? 'only' + product.inStock + ' ' + 'items left': 'not in stock'}}</p>
    <button (click)="decrementCartValue()">-</button>
    <span>{{addToCart}}</span>
    <button (click)="incrementCartValue()">+</button>

    <br> -->
    <!-- <input  (input)="onNameChange($event)"> <br>
    <p>Name: {{name}}</p> -->
    <app-search (SearchTextChange)="setSearchText($event)"></app-search>
    <product-list [searchText]="searchText" #productListComponent></product-list>
    <product-detail *ngIf="productListComponent.selectedProduct" [productListComp]="productListComponent"></product-detail>
    <div class="ekart-featured-products">
        <div class="ekart-featured-product-heading">
            <h1>Latest Arrival of popular brands</h1>
        </div>
        <featured-brands>
            <h3 class="title">New Arrivals in Nike</h3>
            <button class="call-to-action">Show New Arrivals in Nike</button>
        </featured-brands>
        <featured-brands>
            <h3 class="title">New Arrivals in Adidas</h3>
            <button class="call-to-action">Show New Arrivals in Adidas</button>
        </featured-brands>
        <featured-brands>
            <h3 class="title">New Arrivals in Reebok</h3>
            <button class="call-to-action">Show New Arrivals in Reebok</button>
        </featured-brands>
    </div>
    <!-- <div *ngFor="let item of  listOfString">
        <p>Current Element of array is: {{item}} </p>
    </div> -->
</div>
