<div>
    <app-child>
        <h3> Some Heading</h3>
        <p #para>
            Here, we first extract the ILoggerManager service inside the logger
            variable. Then, we just call the ConfigureExceptionHandler method
            and pass that logger service. It is important to know that we have to
        </p>
        <p #para>
            Here, we first extract the ILoggerManager service inside the logger
            variable. Then, we just call the ConfigureExceptionHandler method
            and pass that logger service. It is important to know that we have to
        </p>
        <p #para>
            Here, we first extract the ILoggerManager service inside the logger
            variable. Then, we just call the ConfigureExceptionHandler method
            and pass that logger service. It is important to know that we have to
        </p>
        <app-test [name]="'Sai Saranaya'"></app-test>
        <app-test [name]="'Ravi Damarla'"></app-test>
        <app-test [name]="'Venu Damarla'" ></app-test>
        <app-test [name]="'Sarah willams'" ></app-test>
    </app-child>
    
    <button (click)="ShowPara()">Show Value</button>
</div>